.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3em;

  .title {
    font-size: 1.5em;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
